.navbar-brand {
    font-size: 20;
}
.body{
    background: lawngreen;
  }
  h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      color: blue;
      text-decoration: none;
      letter-spacing: 1px;   
  }
  p{
      font-family: cursive;
      color: black;
  }
  